<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDmxr8TVJZD3bfppP_RqlUsbCLYkI2ls0</string>
	<key>GCM_SENDER_ID</key>
	<string>922759884909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.summaize</string>
	<key>PROJECT_ID</key>
	<string>summ-a-ize-lt6ras</string>
	<key>STORAGE_BUCKET</key>
	<string>summ-a-ize-lt6ras.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922759884909:ios:3e153c6ea5d44d4e944f64</string>
</dict>
</plist>